body {
  font-family: Arial, sans-serif;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
.btnNovoPedido {
  padding: 10px;
  margin-top: 10px;
}

/*Estilo do formulário de cadastro*/

.form-container {
  max-width: 400px;
  margin: 20px auto;
}
.form-label {
  display: block;
  margin-top: 10px;
}
.form-input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}
.form-button {
  padding: 10px;
  margin-top: 10px;
}

.btn {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.btn-excluir {
  background-color: #f44336;
  color: #fff;
}

.btn-editar {
  background-color: #2196F3;
  color: #fff;


}

/*Estilo do formulário de cadastro*/
.body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  /* Cor de fundo de sua escolha */
}

.form-container {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  /* Cor de fundo do formulário */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Sombra suave */
}

.form-label {
  display: block;
  margin-top: 10px;
}

.form-input {
  width: 95%;
  padding: 8px;
  margin-top: 5px;
  padding-left: 10px;
}

.form-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #4caf50;
  
  color: #fff;
 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

.form-button:hover {
  background-color: #45a049;
 
}