* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", Arial, sans-serif;
}

body {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #f5f5f5;
}

.btnNovoPedido {
  padding: 10px;
  margin-top: 10px;
  background-color: #4CAF50;

  color: white;
  border: 1px solid #4CAF50;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #45a049;
  }

  &:active {
    background-color: #3e8e41;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  color: #fff;
  background-color: #2196F3;
  padding: 12px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #1565c0;
  
}

td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  font-size: 12px;
}

tr:nth-child(even) {
  background-color: #ffffff;
  transition: background-color 0.3s ease;
}

tr:hover {
  background-color: #efefef;
  transition: background-color 0.3s ease;
}

.btn {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 12px;
}
.btn-excluir {
  background-color: #db382c;
  color: #fff;

  &:hover {
    background-color: #d32f2f;
  }

  &:active {
    background-color: #b71c1c;

  }
}

.btn-editar {
  background-color: #0e73c5;
  color: #fff;

  &:hover {
    background-color: #1565c0;
  }

  &:active {
    background-color: #0d47a1;
  }
}

/*Estilo do formulario de cadastro*/
.title {
  margin-bottom: 20px;
}
.main-container {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  flex-direction: column;
}

.form-container {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-label {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-button {
  width: 100%;
  justify-content: center;
  padding: 12px;
  margin-top: 15px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;

}

.form-button:hover {
  background-color: #45a049;
}
